:root {
	
	--border-radius-large: 20px;
	--border-radius-medium: 10px;
	--border-radius-small: 5px;
	--border-width: 0.1em;
	

	/* Gradients */
	--gradient-initial: linear-gradient(180deg, rgba(17, 41, 41, .6) 0%, rgba(73, 164, 153, .6) 100%);
	--gradient-highlight: linear-gradient(0deg, rgba(220, 211, 116, 1) 0%, rgba(255, 247, 154, 1) 100%);
	--gradient-active: linear-gradient(0deg, rgba(226, 128, 121, .8) 0%, rgba(241, 163, 114, 0.8) 100%);
	--gradient-header-transparent: linear-gradient(90deg, rgba(81, 199, 173, 0.3) 0%, rgba(4, 74, 44, 0.3) 100%);
	
	--gradient-bg-transparent: linear-gradient(0deg, rgba(4, 74, 44, 0.3) 0%, rgba(4, 74, 44, 0.3) 100%);
	--gradient-bg-translucent: linear-gradient(270deg, rgba(17, 41, 41, 0.5) 0%, rgba(73, 164, 153, 0.5) 100%);
	
	/* Image Paths */
	--image-accent: url("../assets/images/logo.png");
	--image-bg: url("../assets/images/pattern_hojita.png");
	--img: linear-gradient(90deg, rgba(47, 107, 101, 0.5) 0%, rgba(17, 41, 41, 0.5) 100%);
}

li.folder>.folder-header .create-button {
	&:hover {
		color: var(--color-selected);
		text-shadow: 0 0 8px var(--color-shadow-primary) !important;

		& .fa-plus {
			color: var(--color-shadow-primary);
		}
	}
}

#navigation.app {

	& a:hover {
		text-shadow: inherit !important;
		color: inherit;
	}

	& #nav-toggle,
	& #scene-list .scene.gm {
		color: var(--color-primary);
		text-shadow: none;
		border: solid;
		border-width: var(--border-width);
		border-color: var(--color-secondary);
		border-radius: var(--border-radius-medium);
		background: var(--gradient-initial);
	}

	& #nav-toggle:hover,
	& #scene-list .scene:hover,
	& #scene-list .scene.context {
		color: var(--color-highlight-primary);
		border-color: var(--color-highlight-secondary);
		background: var(--gradient-highlight);
		box-shadow: 0 0 5px var(--color-shadow-highlight);
	}

	& #scene-list .scene {
		color: var(--color-primary);
		text-shadow: none;
		border: solid;
		border-width: var(--border-width);
		border-color: var(--color-secondary);
		border-radius: var(--border-radius-medium);
		background: var(--gradient-initial);
	}

	& #scene-list .scene.view.active,
	& #scene-list .scene.view.gm {

		border-color: var(--color-active-secondary);
		background: var(--gradient-active);
		box-shadow: 0 0 5px var(--color-shadow-highlight);

		& a {
			color: var(--color-selected);
			text-shadow: none;
		}
	}
}

& #context-menu {
	color: var(--color-primary);
	border: solid;
	border-width: var(--border-width);
	border-color: var(--color-secondary);
	border-radius: var(--border-radius-medium);
	background: var(--gradient-initial);
	backdrop-filter: blur(5px);

	& li.context-item {

		border: solid;
		border-width: var(--border-width);
		border-color: transparent;

		&:hover {
			color: var(--color-selected);
			border-color: var(--color-active-secondary);
			background: var(--gradient-active);
			box-shadow: 0 0 5px var(--color-shadow-highlight);
			text-shadow: none;

			&:first-child {
				border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
			}

			&:last-child {
				border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
			}
		}
	}
}

#controls {

	& ol.control-tools>li {
		color: var(--color-primary);
		text-shadow: none;
		border: solid;
		border-width: 0.01em;
		border-color: var(--color-secondary);
		border-radius: var(--border-radius-medium);
		background: var(--gradient-initial);
		box-shadow: none;

		&.toggle {
			color: var(--color-primary-inactive);
			text-shadow: none;
			border: solid;
			border-width: 0.01em;
			border-color: var(--color-secondary);
			border-radius: var(--border-radius-medium);
			background: var(--gradient-initial);
			box-shadow: none;
		}
	}

	& ol.control-tools>li.active {
		color: var(--color-active-primary);
		border-color: var(--color-active-secondary);
		box-shadow: 0 0 5px var(--color-shadow-highlight);
		background: var(--gradient-active);

		&.toggle {
			color: var(--color-active-primary);
			border-color: var(--color-active-secondary);
			box-shadow: 0 0 5px var(--color-shadow-highlight);
			background: var(--gradient-active);
			
			:hover {
				color: var(--color-selected);
				text-shadow: 0 0 8px var(--shadow-selected);
			}
		}
	}

	& ol.control-tools>li:not(.active):hover,
	& ol.control-tools>li:not(.active).toggle:hover {
		color: var(--color-highlight-primary);
		border-color: var(--color-highlight-secondary);
		box-shadow: 0 0 5px var(--color-shadow-highlight);
		background: var(--gradient-highlight);
	}
}

#logo {
	clip-path: inset(0 74px 39.3px 0);
	z-index: -10;
	content: var(--image-accent);
	margin: 20px 0 12px 10px;
	transform: scale(5, 10) translate(38px, 18px);
	pointer-events: none;
}

#players {
	color: var(--color-primary);
	text-shadow: none;
	border: solid;
	border-width: var(--border-width);
	border-color: var(--color-secondary);
	border-radius: var(--border-radius-medium);
	background: var(--gradient-initial);
	box-shadow: none;
}

#hotbar {
	box-shadow: none;

	& a:hover {
		color: var(--color-selected);
	}

	& .bar-controls,
	& .macro {
		color: var(--color-primary);
		text-shadow: none;
		border: solid;
		border-width: var(--border-width);
		border-color: var(--color-secondary);
		border-radius: var(--border-radius-small);
		background: var(--gradient-initial);
	}

	& .macro:hover {
		color: var(--color-highlight-primary);
		border-color: var(--color-highlight-secondary);
		box-shadow: 0 0 5px inset var(--color-shadow-highlight);
	}

	& .bar-controls:hover,
	& .macro.active:hover {
		color: var(--color-active-primary);
		border-color: var(--color-active-secondary);
		background: var(--gradient-active);
		box-shadow: 0 0 5px var(--color-shadow-highlight);
	}

	&.locked #macro-list {
		border-color: var(--color-active-secondary);
	}
}

.app {
	color: var(--color-primary);
	box-shadow: 0 0 10px #2b1c02;

  &#sidebar.collapsed #sidebar-tabs > .item.active {
		border-bottom: 1px solid var(--color-active-secondary);
	}
	
	& a:not(.tab-style):hover {
		color: var(--color-selected);
	}
	
	&.window-app {
		
		&:not(.minimized) {

			&.sheet.backgroundstyle .window-header::after {
					position: absolute;
					content: var(--image-accent);
					transform: scale(1) translate(-10%, -12%);
					opacity: 80%;
					pointer-events: none;
			}
			& .window-header {
				padding: 2px 8px;
				border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
			}
	
			& .window-content {
				border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
			}
		}

		&.minimized .window-header {
			padding: 2px 8px;
			border-radius: var(--border-radius-small);
		}

		& .window-content {
			& a:not(.tab-style):hover {
				color: unset;
			}
		}
	}

	& #sidebar-tabs {
		background: var(--gradient-header-transparent);
		border-bottom: 1px solid var(--color-active-secondary);
		box-shadow: 0 0 10px var(--color-shadow-highlight);

		& > .collapse {
			color: var(--color-primary);
			&:hover {
				color: var(--color-selected);
			}
		}

		&.tabs .item:not(.active):hover {
			color: var(--color-selected);
		}


		&.tabs .item.active {
			color: var(--color-active-primary);
			border-color: var(--color-active-secondary);
			background: var(--gradient-active);
			box-shadow: none;
			text-shadow: none !important;
		}

	}

	& .sidebar-tab {
		background: var(--gradient-bg-translucent);

		&.sidebar-popout .window-content {
			color: var(--color-primary);
		}

		&.chat-sidebar {
			background: var(--image-bg), var(--gradient-bg-translucent);
		}
	}
}

.theatre-bar-left {
	background: var(--gradient-bg-transparent);
	border: solid;
	border-width: 0.2em;
	border-color: var(--color-secondary);
	border-radius: var(--border-radius-large);
}

.theatre-text-box {
	color: var(--color-secondary);
	background: var(--image-bg), var(--gradient-bg-translucent);
	border-radius: var(--border-radius-large);
	border: none;
	top: -10px;
	height: 156px;
}